{% extends "layout.html" %}
{% block body %}

<div class="container">
  <h1 style="color:white">Productos</h1>
    <p style="color:white">Utiliza la barra inferior para buscar productos. Luego agregalos al pedido actual</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
    </div>
    <input type="text" class="form-control" id="buscar_tabla" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>
<div class="container">
    <div id="div1" class ="col-md-12">
        <table border="1" class="table table-hover table-bordered bg-white table-sm">
        <thead class="thead-dark">             
            <tr>
                <th style="display:none;" scope="col">Id</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ojo</th>
                <th scope="col">Distancia</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tabla_productos">
            {% for unProducto in productos %}
                <tr>
                    <td>{{unProducto.id}}</td>
                    <td>{{unProducto.nombre_producto}}</td>
                    <td>{{unProducto.ojo_vision}}
                    <td>{{unProducto.distacia_vision}}
                    <td>${{unProducto.precio}}</td>
                    <td>
                        <a href="{% url 'venta_temp' unProducto.id paciente %}" class="btn btn-success btn-sm" id="btn-Nueva_venta">Agregar</a>                
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
      $("#buscar_tabla").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla_productos tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}