{% extends "layout.html" %}

{% block body %}

<h1 style="color:white;">Informes de Gerencia</h2>


<div class="container">
    <h4 style="color:white;">Pacientes que asistieron a turnos </h4>
    <a href="{% url 'informe_paciente' 'asistencia' 'semana' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por semana</a>
    <a href="{% url 'informe_paciente' 'asistencia' 'mes' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por mes</a>

</div>

<div class="container">
    <h2 style="color:white;">Pacientes que no asistieron a turnos</h2>  
    <a href="{% url 'informe_paciente' 'ausente' 'semana' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por semana</a>
    <a href="{% url 'informe_paciente' 'ausente' 'mes' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por mes</a>
</div>

<div class="container">
    <h2 style="color:white;">Pacientes que hicieron pedidos</h2>
    <a href="{% url 'informe_paciente' 'compra' 'semana' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por semana</a>
    <a href="{% url 'informe_paciente' 'compra' 'mes' %}" class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe por mes</a>
</div>

<div class="container">
    <h2 style="color:white;">Productos mas vendidos en el mes actual</h2>
    <a href="{% url 'mas_vendidos' %}" class="btn btn-success btn-sm" id="btn-Ventas_por_vendedor"><i class="fa fa-search" aria-hidden="true"></i> Mostrar informe</a>
</div>

<div class="container">
    <h2 style="color:white;">Ventas totales del mes por vendedor</h2>

    <label for="exampleFormControlSelect1">Seleccione mes</label>
    <form action="{% url 'ventas_por_vendedor' %}" method="post">
    {% csrf_token %}
        <select name="mes" style="float:left;width:130px" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">julio</option>
            <option value="8">Agosto</option>
            <option value="9">Setiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        &nbsp;&nbsp;<input type="submit" style="display:inline" class="btn btn-success btn-sm" value="Mostrar Informe">
    </form>
</div>


{% endblock %}