{% extends "layout.html" %}
{%block body%}

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<div class="container">
  <h1 style="color:white">Informe</h1>
  <h2 style="color:white">{{titulo}}</h2>
  <div class="input-group mb-3">
</div>
<div class="container">
  <div id="div1" class ="col-md-12">
    <table border="1" class="table table-hover table-bordered bg-white table-sm">
      <thead class="thead-dark">             
        {% if tipo_informe == 'ventas' %}
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Clasificacion</th>
                <th scope="col">Vision</th>
                <th scope="col">Ojo</th>
                <th scope="col">Armazon</th>
                <th scope="col">Cantidad total</th>
            </tr>
        {% elif tipo_informe == 'ventas_vendedor' %}
                <th scope="col">Vendedor</th>
                <th scope="col">Ventas del mes</th>
        {% else %}
            <tr>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
            </tr>
        {% endif %}
      </thead>
      <tbody>
        {% if tipo_informe == 'turnos' %}
            {% for unPaciente in contexto %}
                    <tr>
                        <td>{{unPaciente.id_paciente.apellido}}</td>
                        <td>{{unPaciente.id_paciente.nombre}}</td>
                        <td>{{unPaciente.fecha_turno|date:"d/m/Y"}}</td>
                    </tr>
            {% endfor %}
        {% elif tipo_informe == 'compras' %}
            {% for unPaciente in contexto %}
            <tr>
                <td>{{unPaciente.id_paciente.apellido}}</td>
                <td>{{unPaciente.id_paciente.nombre}}</td>
                <td>{{unPaciente.fecha_venta|date:"d/m/Y"}}</td>
            </tr>
            {% endfor %}
        {% elif tipo_informe == 'ventas' %}
            {% for unProducto in contexto %}
            <tr>
                {% if unProducto.ventas_totales%}
                  <td>{{unProducto.nombre_producto}}</td>
                  <td>{{unProducto.clasificacion}}</td>
                  <td>{{unProducto.distancia_vision}}</td>
                  <td>{{unProducto.ojo_vision}}</td>
                  <td>{{unProducto.armazon}}</td>
                  <td>{{unProducto.ventas_totales}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% elif tipo_informe == 'ventas_vendedor'%}
           {% for unVendedor in contexto %}
            <tr>
                <td>{{unVendedor.last_name}},{{unVendedor.first_name}}</td>
                <td>{{unVendedor.ventas_totales}}</td>
            </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{%endblock%}