{% extends "layout.html" %}

{% block body %}
    <h1 style="color:white;">Gestion de Consultorio</h1>
    <h2 style="color:white;">Oftalmologico</h2>

    <div class="container">
        <div style="margin: auto; text-align: center;">
        <br>
        <p style="color:white">Ingrese sus credenciales:</p>
            <form action="{% url 'login_view' %}" method="post">
                {% csrf_token %}
                <i class="fa fa-user"></i>&nbsp;&nbsp;<input type="text" name="username" placeholder="Username"><br><br>
                <i class="fa fa-key"> </i>&nbsp;<input type="password" name="password" placeholder="Password"><br><br>
                &nbsp;&nbsp;<input type="submit" class="btn btn-info" value="Log in"><br><br>
                {% if mensaje %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong style="color:red">{{ mensaje }}</strong>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}