{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h2 style="color:white;">Nuevo pedido <i class="fa fa-user-circle" aria-hidden="true"></i> {{paciente.apellido}}, {{paciente.nombre}}
</div>

<div class="container">
    <form action="{% url 'ventas' %}" method="post">
    {% csrf_token %}
      <div class="alert alert-info" role="alert">
        <input type="hidden" name="id_paciente" value={{paciente.id}}>
        <input type="hidden" id="input_total_venta" name="total_venta" value={{subtotal.id_producto__precio__sum}}>
        <input style="float:right" type="submit" id="finaliza_pedido" class="btn btn-success btn-sm" img="class=fa fa-shopping-cart" value="Finalizar pedido">
        <label style="float:right">Enviar a taller: &nbsp;<input style="text-align:right;" name="taller" type="checkbox" aria-label="Checkbox for following text input">&nbsp;&nbsp;</label>
        <label style="font-size:34px">Subtotal:</label>
        <label style="color:green;font-size:34px;">$ {{subtotal.id_producto__precio__sum|floatformat:2}}</label>
      </div>
        <label style="color:white;">Seleccione medio de pago:</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="opcion_pago" value="efectivo" class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadioInline1">Efectivo</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="opcion_pago" value="tcredito" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Tarj. Credito</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="opcion_pago" value="tdebito" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">Tarj. Debito</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline4" name="opcion_pago" value="virtual" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4">Billetera Virtual</label>
      </div>
   </form>
</div>

<div class="container">
<a href="{% url 'agregar_articulo' paciente.id %}" class="btn btn-info btn-sm"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar articulo</a><br><br>
 <div id="div1" class ="col-md-12">  
    <table border="1" class="table table-hover table-bordered bg-white table-sm">
      <thead class="thead-dark">             
        <tr>
          <th style="display:none;" scope="col">Id</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tabla_pedido">
        {% for unProducto in pedido_actual %}
          <tr>
            <td style="display:none;">{{unProducto.id}}</td>
            <td>{{unProducto.id_producto.nombre_producto}}</td>
            <td style="text-align:right">$ {{unProducto.id_producto.precio}}</td>
            <td>
                <a href="{% url 'eliminar_articulo' unProducto.id paciente.id %}" class="btn btn-danger btn-sm btn-delete" id="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>             
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<div>
</div>

<script>
window.onload=function(){
  if(document.getElementById("input_total_venta").value!="None"){
    document.getElementById("finaliza_pedido").disabled = false;
  }else{
    document.getElementById("finaliza_pedido").disabled = true;
  }
}
</script>
{% endblock %}