{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1 style="color:white;">Pedidos</h1>
    <h2 style="color:white;">Nuevo pedido Cliente: {{paciente.apellido}}, {{paciente.nombre}}

</div>

<div class="container">
     <p> Agregue articulos al carrito con el boton "Agregar" </p>
     <a href="{% url 'agregar_articulo' paciente.id %}" class="btn btn-info btn-sm">Agregar articulo</a>
</div>
<br>
<div class="container">
 <div id="div1" class ="col-md-12">  
    <table border="1" class="table table-hover table-bordered bg-white table-sm">
      <thead class="thead-dark">             
        <tr>
          <th style="display:none;" scope="col">Id</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tabla_pedido">
        {% for unProducto in productos %}
          <tr>
            <td style="display:none;">{{unPaciente.id}}</td>
            <td>{{unProducto.nombre_producto}}</td>
            <td>{{unProducto.ojo_vision}}
            <td>{{unProducto.distacia_vision}}
            <td>${{unProducto.precio}}</td>
            <td>
                <a href="" class="btn btn-danger btn-sm" id="btn-Nueva_venta">Eliminar</a>                
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<div>
</div>
{% endblock %}