{% extends "layout.html" %}


{% block body %}

<div class="container">
  <div id="div1" class ="col-md-12">
    <table border="1" class="table table-hover table-bordered bg-white table-sm">
      <thead class="thead-dark">             
        <tr>
          <th style="display:none;" scope="col">Id</th>
          <th scope="col">Fecha venta</th>
          <th scope="col">Cliente</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody id="tabla_ventas">
        {% for unaVenta in ventas %}
          <tr>
            <td style="display:none;">{{unaVenta.id}}</td>
            <td>{{unaVenta.fecha_venta}}</td>
            <td>{{unaVenta.id_paciente}}</td>
            <td>{{unaVenta.id_User}}
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" value="detalle">Detalle</button>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" value="resuelto">Resuelto</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}